[Unit]
Description=Mavproxy

[Service]
ExecStart=/usr/bin/python /usr/bin/mavproxy.py --master=/dev/ttyMFD1,115200 --out=udp:127.0.0.1:14552 --daemon
User=root
Restart=on-failure
RestartSec=10
WorkingDirectory=/home/root/
PermissionsStartOnly=true

[Install]
WantedBy=multi-user.target
