[Unit]
Description=Telemetry Host

[Service]
ExecStart=/home/root/telemetry_host/telemetry_host
User=root
Restart=on-failure
RestartSec=10
WorkingDirectory=/home/root/telemetry_host
PermissionsStartOnly=true

[Install]
WantedBy=multi-user.target
